@media screen and (min-width: 940px) {
	#experience-page {
		width: 100%;
		height: 100%;
		padding-top: 60px;
		background:linear-gradient(77deg,#27b193,#86aad5);

		.container {
			max-width: 940px;
			min-width: 940px;
			width: 80%;
			margin: 0 auto;
			position: relative;
			margin-top: 30px;
			.time-line {
				height: 100%;
				width: 5px;
				background-color: #EC407A;
				position: absolute;
				left: 50%;
				margin-left: -2.5px;
			}

			.experience {
				width: 100%;	
				position: relative;
				display: block;
				min-height: 150px;

				.experience-item {
					width: 350px;
					background-color: #fff;
					border-top: 10px solid #EC407A;
					position: relative;
					display: block;
					box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

					.title {
						width: 100%;
						color: #EC407A;
						font-size: 18px;
						padding: 5px;
					}

					.stage {
						padding: 10px;
						font-size: 24px;
						font-weight: lighter;
					}

					.place {
						padding: 5px;
						color: #9c9ba9;
					}
				}

				&:nth-child(odd) {
					.experience-item {
						float: right;
		    		margin-right: -157px;
		    		right: -150%;
		    		@include animation('show-from-rigth 0.5s forwards linear'); 

						&:before {
				    	content: '';
				    	width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 33.3px 25px 0;
							border-color: transparent #fff transparent transparent;
							position: absolute;
				    	left: -33px;
				    	top: 50%;
				    	margin-top: -25px;			    	 
				    }
					}
				}

				&:nth-child(even) {
					.experience-item {
						float: left;
						left: -150%;
		    		margin-left: -157px;
		    		@include animation('show-from-left 0.5s forwards linear'); 

						&:after {
				    	content: '';
				    	width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 0 25px 33.3px;
							border-color: transparent transparent transparent #fff;
							position: absolute;
				    	right: -33px;
				    	top: 50%;
				    	margin-top: -25px;
				    }
					}
				}
			}

			@for $i from 1 through 4 {
				.experience:nth-child(#{$i}) {
					.experience-item {
						@include animation-delay( $i * 0.2 + 's');
					}	 
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	#experience-page {
		width: 100%;
		height: 100%;
		padding-top: 60px;
		background:linear-gradient(77deg,#27b193,#86aad5);

		.container {
			width: 95%;
			margin: 0 auto;
			position: relative;
			margin-top: 30px;
			.time-line {
				display: none;
			}

			.experience {
				width: 100%;	
				position: relative;
				display: block;
				min-height: 150px;

				.experience-item {
					width: 350px;
					background-color: #fff;
					border-top: 10px solid #EC407A;
					position: relative;
					display: block;
					box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

					.title {
						width: 100%;
						color: #EC407A;
						font-size: 18px;
						padding: 5px;
					}

					.stage {
						padding: 10px;
						font-size: 24px;
						font-weight: lighter;
					}

					.place {
						padding: 5px;
						color: #9c9ba9;
					}
				}

				&:nth-child(odd) {
					.experience-item {
					}
				}

				&:nth-child(even) {
					.experience-item {

					}
				}
			}

			@for $i from 1 through 4 {
				.experience:nth-child(#{$i}) {
					.experience-item {
						@include animation-delay( $i * 0.2 + 's');
					}	 
				}
			}
		}
	}
}