@mixin transition($value) {
  -webkit-transition: #{$value};
  -moz-transition: #{$value};
  -o-transition: #{$value};
  transition: #{$value};
}

@mixin user-select($value) {
  -webkit-user-select: #{$value};
  -moz-user-select: #{$value};   
  -ms-user-select: #{$value};    
  user-select: #{$value};
}

@mixin animation($value) {
  -webkit-animation: #{$value};
  -moz-animation: #{$value};
  -o-animation: #{$value};
  animation: #{$value};
}

@mixin animation-delay($value) {
  -webkit-animation-delay: #{$value};
  -moz-animation-delay: #{$value};
  -o-animation-delay: #{$value};
  animation-delay: #{$value};
}

@mixin transform($value) {
  -webkit-transform : #{$value};
  -moz-transform : #{$value};
  -ms-transform : #{$value};
  -o-transform : #{$value};
  transform : #{$value};
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(show-progress-bar) {
  0% {
    width : 0;
  }
  100% {
    width : 100%;
  }
}

@include keyframes(show-from-rigth) {
  0% {
    right: -150%;
  }
  100% {
    right : 25%;
  }
}

@include keyframes(show-from-left) {
  0% {
    left: -150%;
  }
  100% {
    left : 25%;
  }
}

@include keyframes(show-from-bottom) {
  0% {
    bottom: -150vh;
  }
  100% {
    bottom: 0;
  }
}

@include keyframes(show-skills-cloud) {
  0% {
    @include transform('scale(0.1)');
  }
  50% {
    @include transform('scale(3)');
  }
  100% {
    @include transform('scale(2)');
  }
}


@include keyframes(show-skills-cloud-mobile) {
  0% {
    @include transform('scale(0.1)');
  }
  50% {
    @include transform('scale(3)');
  }
  100% {
    @include transform('scale(1.7)');
  }
}

@include keyframes(show-site-section) {
  0% {
    top : -250px;
  }
  100% {
    top : 0;
  }
}